.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #0098dc;
}

.container-div {
  color: #fff;
  font-size: 30px;
  margin-bottom: 5px;
  display: inline-block;
  max-width: 320px;
}

.container-link {
  border-color: #00b461;
  background-color: #00cd6f;
  border-radius: 50px;
  border: 1px solid transparent;
  padding: 15px 32px;
  font-size: 20px;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
}
